<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ShouldArchiveInGoogleDocuments" value="false"/>
    <add key="ShouldArchiveInFileSystem" value="true"/>
    <add key="ShouldArchiveInOutlookInbox" value="false"/>
    <add key="FileArchivePath" value="C:\Conversations\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
