<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShouldArchiveInGoogleDocuments" value="false"/>
    <add key="ShouldArchiveInFileSystem" value="true"/>
    <add key="ShouldArchiveInOutlookInbox" value="false"/>
    <add key="FileArchivePath" value="C:\Conversations\"/>
  </appSettings>
</configuration>