<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ShouldArchiveInFileSystem" value="true" />
    <!--Folder where the conversation logs are saved.-->
    <add key="FileArchivePath" value="C:\Conversations\" />
    <!--<add key="FileArchivePath" value="%USERPROFILE%\Documents\SkypeConversation" />-->
    <!--File extension. I wanted it to be .conv but you can make it .txt too-->
    <add key="FileExtension" value=".conv" />
    <!--BELOW SETTINGS ARE FOR WORK IN PROGRESS-->
    <add key="ShouldArchiveInGoogleDocuments" value="false" />
    <add key="ShouldArchiveInOutlookInbox" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=X"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>