<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="LyncArchivingService" Language="1033" Version="1.0.0.0" Manufacturer="BeSoPe" UpgradeCode="48dc066c-97cc-4512-8fa3-52bbe195e075">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />
        <Feature Id="ProductFeature" Title="LyncArchivingService" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        <UI>
            <Dialog Id="archivePath" Width="370" Height="270">
                <Control Type="Edit" Id="archiveFolderPath" Width="177" Height="15" X="124" Y="75" />
                <Control Type="Text" Id="archiveFolderLabel" Width="85" Height="32" X="34" Y="72" Text="Conversation Archive Folder Path :" />
            </Dialog>
        </UI>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="LyncArchivingService" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent" Guid="3ECDF0DE-074A-4AA0-817A-D95F29FA665E">
                <File Id="Microsoft.CSharp.dll" Name="Microsoft.CSharp.dll" Source="..\Lync.Archiver.Service\bin\Release\Microsoft.CSharp.dll" Vital="yes" KeyPath="yes" DiskId="1" />
                <File Id="Microsoft.Lync.Model.dll" Name="Microsoft.Lync.Model.dll" Source="..\Lync.Archiver.Service\bin\Release\Microsoft.Lync.Model.dll" Vital="yes" KeyPath="no" DiskId="1" />
                <File Id="Microsoft.Lync.Utilities.dll" Name="Microsoft.Lync.Utilities.dll" Source="..\Lync.Archiver.Service\bin\Release\Microsoft.Lync.Utilities.dll" Vital="yes" KeyPath="no" DiskId="1" />
                <File Id="Microsoft.Office.Uc.dll" Name="Microsoft.Office.Uc.dll" Source="..\Lync.Archiver.Service\bin\Release\Microsoft.Office.Uc.dll" Vital="yes" KeyPath="no" DiskId="1" />
                <File Id="Lync.Archiver.dll" Name="Lync.Archiver.dll" Source="..\Lync.Archiver.Service\bin\Release\Lync.Archiver.dll" Vital="yes" KeyPath="no" DiskId="1" />
                <File Id="Lync.Archiver.Service.exe.config" Name="Lync.Archiver.Service.exe.config" Source="..\Lync.Archiver.Service\bin\Release\Lync.Archiver.Service.exe.config" Vital="yes" KeyPath="no" DiskId="1" />
                <File Id="Lync.Archiver.Service.exe" Name="Lync.Archiver.Service.exe" Source="..\Lync.Archiver.Service\bin\Release\Lync.Archiver.Service.exe" Vital="yes" KeyPath="no" DiskId="1" />
                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="LyncArchivingService" DisplayName="Lync Archiving Service" Description="Lync Archiving Service to intercept and archive IM text in file system or Outlook Inbox or Google Documents" Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no">
                </ServiceInstall>
                <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="LyncArchivingService" Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>